@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-cream-color: hsl(30, 38%, 92%);
  --dark-cyan-color: hsl(158, 36%, 37%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --dark-green: rgb(1, 43, 1);
}

body {
  background-color: var(--bg-cream-color);
  overflow: hidden;
}

.container {
  padding: 10vh 27vw;
}

.box {
  display: flex;
  max-width: calc(22vw + 25vw);
}

.left {
  height: 78vh;
}

.img_desktop {
  height: 78vh;
  width: 22vw;
  border-radius: 2vw 0 0 2vw;
}

.right {
  background-color: var(--white);
  height: 78vh;
  width: 25vw;
  border-radius: 0 2vw 2vw 0;
}

.content {
  padding: 4vh 3vw;
}

.perfume {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--dark-grayish-blue);
}

.heading {
  font-family: "Fraunces", serif;
  margin: 3vh 0;
  font-size: 2.6vw;
}

.discription {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--dark-grayish-blue);
}

.amount {
  margin: 6vh 0;
}

.new_price {
  display: inline;
  font-family: "Fraunces", serif;
  color: var(--dark-cyan-color);
}

.old_price {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  padding: 0 0 0 2vw;
}

.button {
  background-color: var(--dark-cyan-color);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  width: 18vw;
  height: 9vh;
  border-radius: 1vw;
  cursor: pointer;
}

.button:hover {
  background-color: var(--dark-green);
  cursor: pointer;
}
